# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        dotnet-version: [ '10.0' ]
        os: [ windows-latest ]
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run:  dotnet publish .\DialogueImplementationTool.UI\DialogueImplementationTool.UI.csproj -p:PublishSingleFile=true --self-contained false

#      - name: Test
#        run: dotnet test -c Release --no-build

      - name: Upload a Build Artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: Dialogue Importer
          path: DialogueImplementationTool.UI/bin/Release/net${{ matrix.dotnet-version }}-windows\win-x64\publish
